include commons/doctype.jade
html
  include commons/head.jade
  body
    include commons/header.jade
    include commons/nav.jade
    include commons/h1.jade
    
    include commons/breadCrumbs.jade
    
    section.articleList
      ul.list
        li
          a(href="#")
            img(src="#{ARTICLES}photo_001.jpg")
            h2 
              span Влияние древесины на здоровье и эмоциональное состояние человека
            p Все больше людей, проживающих в современных мегаполисах, стремится приобрести загородное жилье. 
            p Это происходит потому, что неблагоприятная экологическая обстановка и быстрый темп жизни города становятся причиной плохого самочувствия, перенапря
        li
          a(href="#")
            img(src="#{ARTICLES}photo_001.jpg")
            h2
              span Влияние древесины на здоровье и эмоциональное состояние человека
            p Все больше людей, проживающих в современных мегаполисах, стремится приобрести загородное жилье.
            p Это происходит потому, что неблагоприятная экологическая обстановка и быстрый темп жизни города становятся причиной плохого самочувствия, перенапря
        li
          a(href="#")
            img(src="#{ARTICLES}photo_001.jpg")
            h2
              span Влияние древесины на здоровье и эмоциональное состояние человека
            p Все больше людей, проживающих в современных мегаполисах, стремится приобрести загородное жилье.
            p Это происходит потому, что неблагоприятная экологическая обстановка и быстрый темп жизни города становятся причиной плохого самочувствия, перенапря
          
    include commons/footer.jade