include commons/doctype.jade
html
  include commons/head.jade
  body
    include commons/header.jade
    include commons/nav.jade
    include commons/h1.jade

    include commons/breadCrumbs.jade

    section.project
      .row
        .col.description
          h2 Описание
          p Описание ворот, или любого другого проекта Описание ворот, или любого другого проекта Описание ворот, или любого другого проекта Описание ворот, или любого другого проекта.
          p Описание ворот, или любого другого проекта Описание ворот, или любого другого проекта Описание ворот, или любого другого проекта
          
        .col.image
          .img
            img(src="#{PROJECT}photo_001.jpg")
          .btn
            span
              | Характеристики
              i.arrowRight-icon
            span
              i.arrowLeft-icon
              | Описание
        .col.params
          table
            thead
              tr
                th(colspan="2") Характеристики
            tbody
              tr
                td Предварительное грунтование
                td Да
              tr
                td Метод окраски
                td Воздушное распыление
              tr
                td Предварительное грунтование
                td Да
              tr
                td Метод окраски
                td Воздушное распыление
              tr
                td Предварительное грунтование
                td Да
              tr
                td Метод окраски
                td Воздушное распыление
              tr
                td Предварительное грунтование
                td Да
              tr
                td Метод окраски
                td Воздушное распыление
              tr
                td Предварительное грунтование
                td Да
              tr
                td Метод окраски
                td Воздушное распыление
              tr
                td Предварительное грунтование
                td Да
              tr
                td Метод окраски
                td Воздушное распыление
              tr
                td Предварительное грунтование
                td Да
              tr
                td Метод окраски
                td Воздушное распыление
              tr
                td Предварительное грунтование
                td Да
              tr
                td Метод окраски
                td Воздушное распыление
              tr
                td Предварительное грунтование
                td Да
              tr
                td Метод окраски
                td Воздушное распыление

    include commons/footer.jade