include commons/doctype.jade
html
  include commons/head.jade
  body
    include commons/header.jade
    include commons/nav.jade
    include commons/h1.jade

    include commons/breadCrumbs.jade

    section.reviews
      .line#line
      .row
        .col.text
          h2 Василий Иванович Петушков
          p структуры. Репрезентативный — рассмотрение текста как особой формы представления знаний о внешней тексту действительности.
          p структуры. Репрезентативный — рассмотрение текста как особой формы представления знаний о внешней тексту действительности.
          p структуры. Репрезентативный — рассмотрение текста как особой формы представления знаний о внешней тексту действительности.
        .col.imgs
          .image
            img(src="#{REVIEWS}photo_001.jpg")
            p Досталось наследство от бабули
          .image
            img(src="#{REVIEWS}photo_002.jpg")
            p Результат выполения работ...
      .row
        .col.text
          h2 Василий Иванович Петушков
          p структуры. Репрезентативный — рассмотрение текста как особой формы представления знаний о внешней тексту действительности.
          p структуры. Репрезентативный — рассмотрение текста как особой формы представления знаний о внешней тексту действительности.
          p структуры. Репрезентативный — рассмотрение текста как особой формы представления знаний о внешней тексту действительности.
        .col.imgs
          .image
            img(src="#{REVIEWS}photo_001.jpg")
            p Досталось наследство от бабули
          .image
            img(src="#{REVIEWS}photo_002.jpg")
            p Результат выполения работ...

    include commons/footer.jade