- var ROOT = "../build/";
- var IMG = "../img/";
- var WORKS = IMG+"kind_of_works/";
- var HOW_TO = IMG+"how_to/";
- var LAST_PROJECT = IMG+"last_project/";
- var FEEDBACK = IMG+"feedback/";
- var CONTACTS = IMG+"contacts/";
- var ABOUT = IMG+"about/";
- var ARTICLES = IMG+"articles/";
- var REVIEWS = IMG+"reviews/";
- var PROJECT = IMG+"project/";
doctype html