footer
  .row
    .col.links-list
      ul
        li: a(href="#") Первый из восьми блоков
        li: a(href="#") Второй из восьми блоков
        li: a(href="#") Третий из восьми блоков
        li: a(href="#") Четвёртый из восьми блоков
        li: a(href="#") Четвёртый из восьми блоков
    .col.links-list
      ul
        li: a(href="#") Пятый из восьми блоков
        li: a(href="#") Шестой из восьми блоков
        li: a(href="#") Седьмой из восьми блоков
        li: a(href="#") Восьмой из восьми блоков
    .col.simple-info
      p Тут еще какая нить инфа <br>появится полюбому
    .col.same-shits
      .socials
        .vk
      .metriks
        .yandex
          include ../other/ya.html
script(src="#{ROOT}build.js")