header.hide
  .row
    .col.logo
      a.l(href="/"): img(src="#{IMG}logo.png")
      a.menu#menu(href="#"): img(src="#{IMG}menu.png")
    .col.adress
      i.mark-icon
      ul
        li: a(href="#contacts") ул. 2-я Посадская, д. 4
        li: a(href="#contacts") ул. Городская, д. 60а
    .col.schedule
      i.clock-icon
      ul
        li ПН-СБ с 10:00 до 19:00
        li ВС с 10:00 до 16:00
    a.col.phone(href="tel:74862490937") +7 (4862) 49-09-37
    a.col.btn-order(class="fancybox", href="modal/callBack.html") Заказать звонок