section.contacts#contacts
  .row
    .col.offices
      .office
        h3 Оффис на 1 Посадской
        img(src="#{CONTACTS}photo_001.jpg")
        img.mobile(src="#{CONTACTS}photo_002.jpg")
        p.mobile адресс такой то такой
        p.mobile телефон такой то такой то
      .office
        h3 Оффис на Городской
        img(src="#{CONTACTS}photo_003.jpg")
        img.mobile(src="#{CONTACTS}photo_004.jpg")
        p.mobile адресс такой то такой
        p.mobile телефон такой то такой то
    .col.m
      .map#map
        script(type="text/javascript", charset="utf-8", src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=T-V82P5kHyChfnDOZqbsyuZz1ePkfpME&lang=ru_RU&sourceType=constructor")
      .info адресс такой то такой то<br> телефон такой то такой то