nav.hide
  a.close#close(href="#")
  ul
    li
      i.works-icon
      a(href="#") Наши работы
    li
      i.flower-icon
      a(href="#") О компании
    li
      i.feedback-icon
      a(href="#") Отзывы
    li
      i.price-icon
      a(href="#") Цены
    li
      i.info-icon
      a(href="#") Инфомрация
    li
      i.contacts-icon
      a(href="#") Наши офисы